doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Yummy Restaurant - Giới thiệu
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // fontAweSome
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
  //slick
  link(rel='stylesheet' type='text/css' href='js/slick/slick.css')
  // Add the new slick-theme.css if you want the default styling
  link(rel='stylesheet' type='text/css' href='js/slick/slick-theme.css')
  // icon
  link(rel='icon' href='images/core_img/favicon.ico')
  // Fonts
  link(rel='stylesheet' type='text/css' media='screen' href='css/stylesheet.css')
  link(href="https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Poppins|Prata&display=swap" rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap' rel='stylesheet')
  // My css
  link(rel='stylesheet' type='text/css' media='screen' href='css/main.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/about.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/topHeader.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/mainMenu.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/footer.css')
header.header_area.container-fluid
  //Top Header Area
  include template-parts/topHeader.pug
  // Menu
  include template-parts/mainMenu.pug
  //Header
  .header_main.text-center 
    .content_header About us
//section1
section.section_1.container-fluid
    div
        p.heading.text-center 
          span(style='color:#FD5B00;') Giới thiệu 
          | về chúng tôi
        p.content.text-center Với các đầu bếp hàng đầu thế giới, chúng tôi đã tạo ra những “tác phẩm nghệ thuật” !
        .row.about_content.container-fluid
            .col-6
                p.content_left Uisque volutpat pharetra felis, eu cursus lorem molestie vitae ulla vehicula, lacus ut suscipit fermentum, turpis felis ultricies dui ut cus libero augue at libero. Morbi ut arcu dolor. Maecenas id nulla nec nibh viverra vehicula. Cras feugiat, magna eu lacinia ullamcorper. lla vehicula, lacus ut suscipit fermentum, turpis felis ultricies dui, ut rhoncus libero augue at libero. Morbi ut arcu dolor.
            .col-6
                p.content_right Uisque volutpat pharetra felis, eu cursus lorem molestie vitae ulla vehicula, lacus ut suscipit fermentum, turpis felis ultricies dui ut cus libero augue at libero. Morbi ut arcu dolor. Maecenas id nulla nec nibh viverra vehicula. Cras feugiat, magna eu lacinia ullamcorper. lla vehicula, lacus ut suscipit fermentum, turpis felis ultricies dui, ut rhoncus libero augue at libero. Morbi ut arcu dolor.
    .child-page-listing
      .grid-container
        article#3685.location-listing
          a.location-title(href='#')
            | Name Chef
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef1.jpg' alt='Name Chef')
        article#3685.location-listing
          a.location-title(href='#')
            | Name Chef
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef2.jpg' alt='Name Chef')
        article#3685.location-listing
          a.location-title(href='#')
            | Name Chef
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef3.jpg' alt='Name Chef')
        article#3685.location-listing
          a.location-title(href='#')
            | Name Chef
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef2.jpg' alt='Name Chef')
        article#3685.location-listing
          a.location-title(href='#')
            | Name Chef
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef3.jpg' alt='Name Chef')
        article#3685.location-listing
          a.location-title(href='#')
            | Name Chef
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef4.jpg' alt='Name Chef')

section.section_2.container-fluid
    div
       p.content.text-center Morbi ut arcu dolor. Maecenas id nulla nec nibh viverra vehicula. 

section.section_3.container-fluid
    div
        p.heading.text-center 
          span(style='color:#FD5B00;') Bài viết 
          | của chúng tôi
        p.content.text-center Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Nulla semper arcu vel diam auctor. condimentum.
    hr
    div.post
        p.post_tag.text-center CÔNG THỨC NẤU ĂN
        p.post_title.text-center BÀO NGƯ HẤP CHANH TÂY
        p.post_subtitle.text-center Ngày 8 /9/2018, by NhatMinh, 2 bình luận
        div.post_image.text-center
          img(src='./images/about_Page/blog_post.png' alt='image')
        div
            p.post_content Morbi ut arcu dolor. Maecenas id nulla nec nibh viverra vehicula. Cras feugiat, magna eu lacinia ullamcorper. lla vehicula, lacus ut suscipit fermentum, turpis felis ultricies dui, ut rhoncus libero augue at libero. Morbi ut arcu dolor.
            p.post_detail Xem thêm ...
        hr
    div.text-center.btn_detail
        button.btn(type='button') Xem thêm

section.section_4.container-fluid
  .review
    p.heading.text-center 
      span(style='color:#FD5B00;') Nhận xét 
      | của khách hàng

  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
      li(data-target='#carouselExampleIndicators' data-slide-to='1')
      li(data-target='#carouselExampleIndicators' data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        p.content.text-center Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Nulla semper arcu vel diam auctor. condimentum. Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Nulla semper arcu vel diam auctor. condimentum.
        .reviewers.row
          .col-4.avatar
            img(src='./images/about_Page/reviewer1.jpg') 
          .col-8.name_reviewers
            p.name Suni Hạnh Linh
            p.role Ca sỹ
      .carousel-item
        p.content.text-center Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Nulla semper arcu vel diam auctor. condimentum. Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Nulla semper arcu vel diam auctor. condimentum.
        .reviewers.row
          .col-4.avatar
            img(src='./images/about_Page/reviewer1.jpg') 
          .col-8.name_reviewers
            p.name Suni Hạnh Linh
            p.role Ca sỹ
      .carousel-item
        p.content.text-center Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Nulla semper arcu vel diam auctor. condimentum. Aenean sodales dictum augue, in faucibus nisi sollicitudin eu. Nulla semper arcu vel diam auctor. condimentum.
        .reviewers.row
          .col-4.avatar
            img(src='./images/about_Page/reviewer1.jpg') 
          .col-8.name_reviewers
            p.name Suni Hạnh Linh
            p.role Ca sỹ

//footer
include template-parts/footer.pug

// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

// slick
script(type='text/javascript' src='js/slick/slick.min.js')
script(type='text/javascript' src='./js/footer2.js')
script(type='text/javascript' src='js/script.js')
