doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Yummy Restaurant - Giỏ hàng
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // fontAweSome
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
  //slick
  link(rel='stylesheet' type='text/css' href='js/slick/slick.css')
  // Add the new slick-theme.css if you want the default styling
  link(rel='stylesheet' type='text/css' href='js/slick/slick-theme.css')
  // icon
  link(rel='icon' href='images/core_img/favicon.ico')
  // Fonts
  link(rel='stylesheet' type='text/css' media='screen' href='css/stylesheet.css')
  link(href="https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Poppins|Prata&display=swap" rel="stylesheet")
  // My css
  link(rel='stylesheet' type='text/css' media='screen' href='css/main.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/cart.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/topHeader.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/mainMenu.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/footer2.css')
header.header_area.container-fluid
  //Top Header Area
  include template-parts/topHeader.pug
  // Menu
  include template-parts/mainMenu.pug

//section1
section.section_1.container
  .title.text-center Giỏ hàng
    hr
  .sub_title.text-center Home > Giỏ hàng
  .row.cart_area
    .cart-container.col-12
      table.cart
        thead
          tr
            th.product-thumbnail Ảnh sản phẩm
            th.product-name
              span.hidden-mobile Tên sản phẩm
            th.product-price
              span.hidden-mobile Đơn giá
            th.product-quantity
              span.hidden-mobile Số lượng
            th.product-subtotal Thành tiền
            th.product-remove Chỉnh sửa
        tbody
          tr.cart-item
            td.product-thumbnail
              a(href='#')
                img.img-fluid(src='./images/cart_Page/img1.jpg')
            td.product-name
              a(href='#') Salad Hoa Quả
            td.product-price
              | 120000
            td.product-quantity
              .quantity
                button.qty-decrease(onclick='' type='button') -
                input#qty(type='text' name='quantity' value='1' size='4')
                button.qty-increase(onclick='' type='button') +
            td.product-subtotal
            td.product-remove
              button
                i.far.fa-trash-alt
          tr
            td.actions(colspan='6')
              a.link-to.continue(href='shop.html')
                | Tiếp tục mua hàng 
                i.fa.fa-angle-right
    .col-6.cart-coupon-area
      .cart-coupon
        .title_coupon Nhập mã giảm giá
        input(type='text' value='' placeholder='Nhập mã giảm giá')
        button.btn.apply-coupon.link-to Áp dụng

    .col-6.cart-total-area
      .cart-total
        .title_total.text-center Tổng tiền
        hr
        table
          tbody
            tr.cart-subtotal
              th Tạm tính
              td
            tr.cart-discount
              th Giảm giá
                span.discount-rate
              td 0
            tr.order-total
              th Thành tiền
              td.amount
                strong
        .checkout-proceed
          a(href='checkOut.html')
            div.text-right
              button.btn Đặt hàng


//footer
include template-parts/footer2.pug

// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS

//- ajax

script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

// slick
script(type='text/javascript' src='js/slick/slick.min.js')

script(type='text/javascript' src='js/script.js')
script(type='text/javascript' src='./js/footer2.js')
script(type='text/javascript' src='js/cart.js')