doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Yummy Restaurant - Cửa hàng
  meta(name='viewport' content='width=device-width, initial-scale=1')

  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // fontAweSome
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
  //slick
  link(rel='stylesheet' type='text/css' href='js/slick/slick.css')
  // Add the new slick-theme.css if you want the default styling
  link(rel='stylesheet' type='text/css' href='js/slick/slick-theme.css')
  // icon
  link(rel='icon' href='images/core_img/favicon.ico')
  // Fonts
  link(rel='stylesheet' type='text/css' media='screen' href='css/stylesheet.css')
  link(href="https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Poppins|Prata&display=swap" rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap' rel='stylesheet')
  // My css
  link(rel='stylesheet' type='text/css' media='screen' href='css/main.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/shop.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/topHeader.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/mainMenu.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/footer2.css')
header.header_area.container-fluid
  //Top Header Area
  include template-parts/topHeader.pug
  // Menu
  include template-parts/mainMenu.pug
  //Header
  .header_main.text-center 
    .content_header _~ Shop ~_

//section1
section.section_1.container-fluid
  .set_food
    .row.set_food_area
      .col-6.image_set 
        img(src="./images/shop_Page/set1.jpg", alt="")
      .col-6.set_content
        div.text_content
          p.set_price.text-center 199.000 vnd
          hr
          p.set_name.text-center COMBO TÌNH YÊU
          p.sub_set.text-center 2 bánh mỳ, 2 set trái cây 4 mùa, 2 trà trái cây

section.section_2.container-fluid

  .top_section_2
    .row.top_area
      .dropdown
        button#dropdownMenuButton.btn.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Tất cả các món
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href='#') Món tráng miệng
          a.dropdown-item(href='#') Món chính   
      .search.ml-auto
        input#myInput.form-control(type='text' placeholder='Tìm kiếm..')       
  .card_main
    .card-deck.row
      .col-3       
        .card
          .hover_area
            img.card-img-top(src='./images/shop_Page/sp5.jpg' alt='Card image cap')
            .hover_card
              a(href='cart.html') <i class="fas fa-cart-plus"></i>
              a(href='cart.html') <i class="fas fa-expand"></i>
              a(href='cart.html') <i class="fas fa-heart"></i>
          .card-body
            .text-center
              a(href='singerProduct.html').card-text.name
                | Bít Tết Bò Kobe
            p.card-text.tag.text-center
              small.text-muted Món chính
              hr
            p.card-text.price.text-center
              | 50.000 VND
      .col-3       
        .card
          .hover_area
            img.card-img-top(src='./images/shop_Page/sp1.jpg' alt='Card image cap')
            .hover_card
              a(href='cart.html') <i class="fas fa-cart-plus"></i>
              a(href='cart.html') <i class="fas fa-expand"></i>
              a(href='cart.html') <i class="fas fa-heart"></i>
          .card-body
            .text-center
              a(href='singerProduct.html').card-text.name
                | Bít Tết Bò Kobe
            p.card-text.tag.text-center
              small.text-muted Món chính
              hr
            p.card-text.price.text-center
              | 50.000 VND
      .col-3       
        .card
          .hover_area
            img.card-img-top(src='./images/shop_Page/sp2.jpg' alt='Card image cap')
            .hover_card
              a(href='cart.html') <i class="fas fa-cart-plus"></i>
              a(href='cart.html') <i class="fas fa-expand"></i>
              a(href='cart.html') <i class="fas fa-heart"></i>
          .card-body
            .text-center
              a(href='singerProduct.html').card-text.name
                | Bít Tết Bò Kobe
            p.card-text.tag.text-center
              small.text-muted Món chính
              hr
            p.card-text.price.text-center
              | 50.000 VND
      .col-3       
        .card
          .hover_area
            img.card-img-top(src='./images/shop_Page/sp3.jpg' alt='Card image cap')
            .hover_card
              a(href='cart.html') <i class="fas fa-cart-plus"></i>
              a(href='cart.html') <i class="fas fa-expand"></i>
              a(href='cart.html') <i class="fas fa-heart"></i>
          .card-body
            .text-center
              a(href='singerProduct.html').card-text.name
                | Bít Tết Bò Kobe
            p.card-text.tag.text-center
              small.text-muted Món chính
              hr
            p.card-text.price.text-center
              | 50.000 VND
      .col-3       
        .card
          .hover_area
            img.card-img-top(src='./images/shop_Page/sp4.jpg' alt='Card image cap')
            .hover_card
              a(href='cart.html') <i class="fas fa-cart-plus"></i>
              a(href='cart.html') <i class="fas fa-expand"></i>
              a(href='cart.html') <i class="fas fa-heart"></i>
          .card-body
            .text-center
              a(href='singerProduct.html').card-text.name
                | Bít Tết Bò Kobe
            p.card-text.tag.text-center
              small.text-muted Món chính
              hr
            p.card-text.price.text-center
              | 50.000 VND
      .col-3       
        .card
          .hover_area
            img.card-img-top(src='./images/shop_Page/sp6.jpg' alt='Card image cap')
            .hover_card
              a(href='cart.html') <i class="fas fa-cart-plus"></i>
              a(href='cart.html') <i class="fas fa-expand"></i>
              a(href='cart.html') <i class="fas fa-heart"></i>
          .card-body
            .text-center
              a(href='singerProduct.html').card-text.name
                | Bít Tết Bò Kobe
            p.card-text.tag.text-center
              small.text-muted Món chính
              hr
            p.card-text.price.text-center
              | 50.000 VND
      .col-3       
        .card
          .hover_area
            img.card-img-top(src='./images/shop_Page/sp7.jpg' alt='Card image cap')
            .hover_card
              a(href='cart.html') <i class="fas fa-cart-plus"></i>
              a(href='cart.html') <i class="fas fa-expand"></i>
              a(href='cart.html') <i class="fas fa-heart"></i>
          .card-body
            .text-center
              a(href='singerProduct.html').card-text.name
                | Bít Tết Bò Kobe
            p.card-text.tag.text-center
              small.text-muted Món chính
              hr
            p.card-text.price.text-center
              | 50.000 VND
      .col-3       
        .card
          .hover_area
            img.card-img-top(src='./images/shop_Page/sp8.jpg' alt='Card image cap')
            .hover_card
              a(href='cart.html') <i class="fas fa-cart-plus"></i>
              a(href='cart.html') <i class="fas fa-expand"></i>
              a(href='cart.html') <i class="fas fa-heart"></i>
          .card-body
            .text-center
              a(href='singerProduct.html').card-text.name
                | Bít Tết Bò Kobe
            p.card-text.tag.text-center
              small.text-muted Món chính
              hr
            p.card-text.price.text-center
              | 50.000 VND

    .pagination_area
      nav(aria-label='Page navigation example')
        ul.pagination
          li.page-item
            a.page-link(href='#' aria-label='Previous')
              span(aria-hidden='true') &laquo;
              span.sr-only Previous
          li.page-item
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#' aria-label='Next')
              span(aria-hidden='true') &raquo;
              span.sr-only Next 


//footer
include template-parts/footer2.pug

// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='//code.jquery.com/jquery-1.11.1.min.js')

script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

// slick
script(type='text/javascript' src='js/slick/slick.min.js')

script(type='text/javascript' src='js/script.js')
script(type='text/javascript' src='./js/footer2.js')