footer.container-fuild
  .top_footer
    h1.text-center.title INSTARGRAM
    hr
    #single_item.slider
      div
        img(width='300' height='169' src='images/home_Page/img1.jpg' alt='Xem chi tiết')
      div
        img(width='300' height='169' src='images/home_Page/img2.jpg' alt='Xem chi tiết')
      div
        img(width='300' height='169' src='images/home_Page/img3.jpg' alt='Xem chi tiết')
      div
        img(width='300' height='169' src='images/home_Page/img4.jpg' alt='Xem chi tiết')
      div
        img(width='300' height='169' src='images/home_Page/img5.jpg' alt='Xem chi tiết')
      div
        img(width='300' height='169' src='images/home_Page/img1.jpg' alt='Xem chi tiết')
      div
        img(width='300' height='169' src='images/home_Page/img2.jpg' alt='Xem chi tiết')
      div
        img(width='300' height='169' src='images/home_Page/img3.jpg' alt='Xem chi tiết')
      div
        img(width='300' height='169' src='images/home_Page/img4.jpg' alt='Xem chi tiết')
      div
        img(width='300' height='169' src='images/home_Page/img5.jpg' alt='Xem chi tiết')
  .row.main_footer
    .col-6.logo yummy
    .col-6.right_area
      .network.d-flex.flex-row-reverse
        a(href='#')
          i.fab.fa-facebook(aria-hidden='true')
        a(href='#')
          i.fab.fa-twitter(aria-hidden='true')
        a(href='#')
          i.fab.fa-linkedin(aria-hidden='true')
        a(href='#')
          i.fab.fa-skype(aria-hidden='true')
        a(href='#')
          i.fab.fa-dribbble(aria-hidden='true')
      .make_by.d-flex.flex-row-reverse © 2019 YUMMY. MAKED BY NHATMINH


  //- .child-page-listing
  //-   .grid-container
  //-     article#3685.location-listing
  //-       a.location-title(href='#')
  //-         | Xem chi tiết
  //-       .location-image
  //-         a(href='#')
  //-           img(width='300' height='169' src='images/home_Page/img1.jpg' alt='Xem chi tiết')
  //-     article#3685.location-listing
  //-       a.location-title(href='#')
  //-         | Xem chi tiết
  //-       .location-image
  //-         a(href='#')
  //-           img(width='300' height='169' src='images/home_Page/img2.jpg' alt='Xem chi tiết')
  //-     article#3685.location-listing
  //-       a.location-title(href='#')
  //-         | Xem chi tiết
  //-       .location-image
  //-         a(href='#')
  //-           img(width='300' height='169' src='images/home_Page/img3.jpg' alt='Xem chi tiết')
  //-     article#3685.location-listing
  //-       a.location-title(href='#')
  //-         | Xem chi tiết
  //-       .location-image
  //-         a(href='#')
  //-           img(width='300' height='169' src='images/home_Page/img4.jpg' alt='Xem chi tiết')
  //-     article#3685.location-listing
  //-       a.location-title(href='#')
  //-         | Xem chi tiết
  //-       .location-image
  //-         a(href='#')
  //-           img(width='300' height='169' src='images/home_Page/img5.jpg' alt='Xem chi tiết')
  //-     article#3685.location-listing
  //-       a.location-title(href='#')
  //-         | Xem chi tiết
  //-       .location-image
  //-         a(href='#')
  //-           img(width='300' height='169' src='images/home_Page/img6.jpg' alt='Xem chi tiết')




    //- h1.title_2 Ảnh này phần chi tiết sản phẩm
    //- .slider-for
    //-   div
    //-     img(width='300' height='169' src='images/home_Page/img1.jpg' alt='Xem chi tiết')
    //-   div
    //-     img(width='300' height='169' src='images/home_Page/img2.jpg' alt='Xem chi tiết')
    //-   div
    //-     img(width='300' height='169' src='images/home_Page/img3.jpg' alt='Xem chi tiết')
    //-   div
    //-     img(width='300' height='169' src='images/home_Page/img4.jpg' alt='Xem chi tiết')
    //-   div
    //-     img(width='300' height='169' src='images/home_Page/img5.jpg' alt='Xem chi tiết')
    //- .slider-nav
    //-   div
    //-     img(width='300' height='169' src='images/home_Page/img1.jpg' alt='Xem chi tiết')
    //-   div
    //-     img(width='300' height='169' src='images/home_Page/img2.jpg' alt='Xem chi tiết')
    //-   div
    //-     img(width='300' height='169' src='images/home_Page/img3.jpg' alt='Xem chi tiết')
    //-   div
    //-     img(width='300' height='169' src='images/home_Page/img4.jpg' alt='Xem chi tiết')
    //-   div
    //-     img(width='300' height='169' src='images/home_Page/img5.jpg' alt='Xem chi tiết')

