footer.container-fuild
  .maps-wrapper
    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3022.260812859955!2d-73.990184!3d40.756288!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb134c693ac14a04c!2sThe+TimesCenter!5e0!3m2!1sen!2suk!4v1393485725496' width='1351' height='450' frameborder='0' style='border:0')
  .footer_area
    .footer_form
      .padding_form
        .title_form.text-center 
          span(style='color:#FD5B00;') Liên hệ 
          | với chúng tôi
        .form-group
          label(for='exampleInputEmail1') Tên
          input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Nhập tên gọi của bạn')
        .form-group
          label(for='exampleInputEmail1') Email
          input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Nhập địa chỉ email')
        .form-group
          label(for='exampleFormControlTextarea1') Tin nhắn của bạn
          textarea#exampleFormControlTextarea1.form-control(rows='3' placeholder='Viết tin nhắn')
        .text-center 
          button.btn(type='submit') Gửi tin nhắn
    .footer_main.container-fluid.row
      .col-3.bottom_left.text-center
        .logo Yummy
        .top_social_bar
            a(href='#')
              i.fab.fa-facebook(aria-hidden='true')
            a(href='#')
              i.fab.fa-twitter(aria-hidden='true')
            a(href='#')
              i.fab.fa-linkedin(aria-hidden='true')
            a(href='#')
              i.fab.fa-skype(aria-hidden='true')
            a(href='#')
              i.fab.fa-dribbble(aria-hidden='true')
      .col-6
      .col-3.bottom_right.text-left
        .address 
          i.fas.fa-map-marker-alt 
          | Tây Hồ Hà Nội
        .phone 
          i.fas.fa-mobile-alt 
          | 0366312255
        .email 
          i.fas.fa-envelope
          | yummy@gmail.com

  .footer_bottom.text-center 2019 Yummy By SunKt0212