.menu-main.container-fluid
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand(href='#') YUMMY
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='index.html') TRANG CHỦ
          li.nav-item
            a.nav-link(href='about.html') GIỚI THIỆU
          li.nav-item
            a.nav-link(href='menu.html') THỰC ĐƠN
          li.nav-item
            a.nav-link(href='blog.html') BÀI VIẾT
          li.nav-item
            a.nav-link(href='shop.html') CỬA HÀNG
          li.nav-item-sp
            a.nav-link.nav-border(href='reservation.html') ĐẶT BÀN
          li.nav-item-sp
            a.nav-link.nav-icon(href='cart.html') <i class="fas fa-cart-plus"></i>
          li.nav-item-sp
            a.nav-link.nav-icon(href='#') <i class="fas fa-search"></i>
            