// Top header
.top_header_area.container-fuild
      -//Chú ý dòng này nè, fix lỗi khá hay đấy, thừa padding các kiểu
      .row.container
        .col-5.col-sm-5
          // icon
          .top_social_bar
            a(href='#')
              i.fab.fa-facebook(aria-hidden='true')
            a(href='#')
              i.fab.fa-twitter(aria-hidden='true')
            a(href='#')
              i.fab.fa-linkedin(aria-hidden='true')
            a(href='#')
              i.fab.fa-skype(aria-hidden='true')
            a(href='#')
              i.fab.fa-dribbble(aria-hidden='true')
        .col-7.col-sm-7