<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chi tiết</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
        <div class="thumb">
            <img src={{.newsReturn.Image}}>
            <h1>{{.newsReturn.Title}}</h1>
            <p>{{.newsReturn.Author}}</p>
        </div>
</body>
</html>