<!DOCTYPE html>
<html>
<head>
	<title>Animation</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="wrap">
		<h1>かわいいアニメ</h1>
		<div class="col">
			<div class="thumb">
				<img src="img/anh1.jpg">
			</div>
		</div>
		<div class="col">
			<div class="thumb">
				<img src="img/anh2.jpg">
			</div>
		</div>
		<div class="col">
			<div class="thumb">
				<img src="img/anh3.jpg">
			</div>
		</div>
		<div class="col">
			<div class="thumb">
				<img src="img/anh4.jpg">
			</div>
		</div>
		<div class="col">
			<div class="thumb">
				<img src="img/anh5.jpg">
			</div>
		</div>
		<div class="col">
			<div class="thumb">
				<img src="img/anh6.jpg">
			</div>
		</div>
		
	</div>
	<div class="animation">
		<div class="text">
			<p>Created by SunKT</p>
		</div>
	</div>
</body>
</html>